.list{
    width: 100%;
    margin-top: 10px;
    .listTitle{
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-left: 50px;
    }
    .wrapper{
        position: relative;
        .listContainer{
            margin-left: 50px;
            display: flex;
            width: max-content;
            margin-top: 10px;
            transform: translate(0px);
            transition: all 1s ease;
        }
        .sliderArrow{
            color: white;
            position: absolute;
            height: 100%;
            width: 50px;
            cursor: pointer;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: rgb(22, 22, 22, 0.5);
            z-index: 99;
            &.left{
                left: 0;
                // top: 0;
            }
            &.right{
                right: 0;
                top: 0;
            }
        }
    }
}